{% extends "zenergy_app/base.html" %}
{% block body_block %}
<div class ="jumbotron jumbotron-fluid mt-3">
    <div class="video">
        <video preload="auto" autoplay="" muted="" loop=""  poster="//images.ctfassets.net/tzb4ihmthaev/6jk1DiHD7LEZwWylilBLhV/6103e3cbf1af81bb9e42775afd0c0408/Mega_Hero_-BG_Image_Desktop.jpg"> 
            <source src="//videos.ctfassets.net/tzb4ihmthaev/7isVgogtK55flHqHCkJTMJ/bf590df01616fb4fa082503abeba2799/Shaw_Ellipse_Retail_WEB_V2_1280x720_RC02__1_.mp4" type="video/mp4"> </video>
    </div>
    <div class = "container">
        
      <div class = "row">
          
              <div class = "col-lg-6 text-light mt-5">
                  <h1> Subscribe from the best cable provider in town</h1>
                  <p class = "lead">Get Entertained with our best channels</p>
              </div>
          
      </div> 
            
            
           
        
    </div>

    <svg class="curve" viewBox="0 0 1280 106.001"> <path fill="#fff" transform="translate(0 -630)" fill-opacity="1" d="M1280,736H640.008c68.133,0,135.562-2.588,200.412-7.687,62.85-4.942,122.995-12.217,178.765-21.623,54.9-9.259,105.068-20.5,149.109-33.4,44.152-12.938,81.677-27.414,111.53-43.027V630H1280V736Zm-643.366,0H0V630.65c29.931,15.592,67.526,30.04,111.744,42.944,44.065,12.859,94.26,24.053,149.191,33.272,55.745,9.355,115.87,16.589,178.7,21.5,63.734,4.982,130.013,7.55,197,7.631Z"></path> </svg>

    

</div>


{% endblock %}
